# save the key in environmental variable

In [1]:
import os
#os.environ["OPENAI_API_KEY"]=""
os.environ["OPENAI_API_KEY"]="your_api_key"

# import openai model

In [2]:
from langchain.llms import OpenAI

# initialize the open ai model

In [3]:
model = OpenAI()

C:\Users\padma\AppData\Local\Temp\ipykernel_10360\2716716714.py:1: LangChainDeprecationWarning: The class `OpenAI` was deprecated in LangChain 0.0.10 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-openai package and should be used instead. To use it run `pip install -U :class:`~langchain-openai` and import as `from :class:`~langchain_openai import OpenAI``.
  model = OpenAI()

# asking the questions

In [4]:
model.invoke("who is president of USA")

'\n\nJoe Biden\n'

In [5]:
from langchain.prompts import PromptTemplate

In [6]:
json_prompt=PromptTemplate.from_template(template="Return a JSON object with birthdate and birthplace key that answers the following question:{question}")

In [114]:
j_pipe = json_prompt|model

In [120]:
j_pipe.invoke("where did NTR born ")

'\n\n{\n    "birthdate": "May 28, 1923",\n    "birthplace": "Nimmakuru, Madras Presidency, British India (now in Andhra Pradesh, India)"\n} '

# import the json parser

In [121]:
from langchain.output_parsers.json import SimpleJsonOutputParser
json_parser = SimpleJsonOutputParser()

# use the json parser

In [122]:
j_pipe1 = json_prompt|model|json_parser

# asking the questions

In [123]:
j_pipe1.invoke("where did NTR born")

{'birthdate': 'May 28, 1923', 'birthplace': 'Nimmakuru, Andhra Pradesh, India'}

In [125]:
j_pipe1.invoke("where did NTR born provide me in json format")

{'birthdate': 'May 28, 1923', 'birthplace': 'Nimmakuru, Andhra Pradesh, India'}

In [97]:
j_pipe1.invoke("where did swathi padmala born")

{'question': 'Where did Swathi Padmala born?',
 'answer': 'Swathi Padmala was born in Hyderabad, India.'}

In [98]:
j_pipe1.invoke("where did Abdhul Kalam born and what is the names of his parents provide me in json format")

{'question': 'Where was Abdhul Kalam born and what are the names of his parents?',
 'answer': {'birthPlace': 'Rameswaram, Tamil Nadu',
  'parents': {'father': 'Jainulabdeen Marakayar',
   'mother': 'Ashiamma Jainulabdeen'}}}

In [99]:
j_pipe.invoke("where did M.K.Gandhi born")

'\n\n\n{\n  "question": "Where did M.K.Gandhi born?",\n  "answer": "M.K.Gandhi was born in Porbandar, Gujarat, India."\n}'

In [100]:
j_pipe.invoke("where did Narendhar Modi born")

'\n\n{\n  "question": "Where was Narendra Modi born?",\n  "answer": "Narendra Modi was born in Vadnagar, Mehsana district, Gujarat, India."\n}'

In [101]:
j_pipe.invoke("where did Narendhar Modi born provide me in json format")

'\n\n\n{\n    "question": "Where did Narendhar Modi born?",\n    "answer": "Narendra Modi was born in Vadnagar, a small town in the Mehsana district of Gujarat, India."\n}'

In [102]:
j_pipe.invoke("where did Narendhar Modi born provide me in csv format")

'\n\n{\n  "question": "Where was Narendra Modi born?",\n\n  "answer": "Narendra Modi was born in Vadnagar, Gujarat, India.",\n\n  "csv": "Narendra Modi, Vadnagar, Gujarat, India"\n}'

In [103]:
j_pipe.invoke("where did Narendhar Modi born provide me data in xml format")

'\n\n\n{\n    "question": "Where did Narendra Modi born?",\n    "answer": "Narendra Modi was born in Vadnagar, Gujarat, India.",\n    "format": "XML"\n}'

In [104]:
j_pipe.invoke("In Artificial Intelligence how many types of format are their like json,csv you need to tell more formats like this")

'\n\n"format_types": [\n    {\n        "format": "XML",\n        "description": "Extensible Markup Language. A markup language used for encoding documents in a format that is both human-readable and machine-readable."\n    },\n    {\n        "format": "YAML",\n        "description": "YAML Ain\'t Markup Language. A human-readable data serialization language commonly used for configuration files and API descriptions."\n    },\n    {\n        "format": "INI",\n        "description": "Initialization File. A plain text format used for configuration files on Windows systems."\n    },\n    {\n        "format": "YML",\n        "description": "YAML Ain\'t Markup Language. A variant of YAML that uses indentation instead of braces for delimiters."\n    }\n]'

In [ ]:
json_prompt1=PromptTemplate.from_template(template="Return a JSON object with famousplace and statename key that answers the following question:{question}")

In [127]:
j_pipe1.invoke("what is the famous place in hyderabad")

In [128]:
j_pipe1 = json_prompt1|model|json_parser

In [130]:
j_pipe1.invoke("what is the famous place in hyderabad")

{'famousplace': 'Charminar', 'state name': 'Telangana'}

In [131]:
j_pipe1.invoke("what is the famous place in hyderabad provide me in json format")

{'famousplace': 'Charminar', 'state name': 'Telangana'}

In [133]:
j_pipe1.invoke("what is the famous place in Bangalore")

{'famousplace': 'Lalbagh Botanical Garden', 'state name': 'Karnataka'}

In [135]:
j_pipe1.invoke("what is the famous place in Mumbai")

{'famousplace': 'Gateway of India', 'state name': 'Maharashtra'}

In [136]:
j_pipe1.invoke("what is the famous place in London")

{'famousplace': 'Buckingham Palace', 'state name': 'London'}

In [137]:
j_pipe1.invoke("what is the famous place in suryapet")

{'famousplace': 'Sri Rama Temple', 'state name': 'Telangana'}

In [138]:
j_pipe1.invoke("what is the famous place in warangal")

{'famousplace': 'Warangal Fort', 'state name': 'Telangana'}

In [151]:
json_prompt2=PromptTemplate.from_template(template="Return a JSON object with popular food and answers key that answers the following question:{question}")

In [152]:
j_pipe2 = json_prompt2|model|json_parser

In [153]:
j_pipe2.invoke("what is the famous food in hyderabad give me five answers")

{'popular_food': 'Hyderabadi Biryani',
 'answers': ['1. Hyderabadi Biryani',
  '2. Haleem',
  '3. Qubani Ka Meetha',
  '4. Double ka Meetha',
  '5. Irani Chai']}

In [154]:
j_pipe2.invoke("what is the famous food in Delhi give me five answers")

{'popular food': 'Delhi',
 'answers': ['1. Butter Chicken',
  '2. Chole Bhature',
  '3. Aloo Paratha',
  '4. Biryani',
  '5. Dahi Bhalla']}

In [155]:
j_pipe2.invoke("what is the famous food in UK give me five answers")

{'popular food': 'UK',
 'answers': ['Fish and chips',
  'Roast dinner',
  'Full English breakfast',
  "Shepherd's pie",
  'Bangers and mash']}

In [156]:
j_pipe2.invoke("what is the famous sweets in hyderabad give me five answers")

{'popular food': 'sweets',
 'answers': ['Gulab Jamun',
  'Ladoo',
  'Falooda',
  'Qubani Ka Meetha',
  'Double ka Meetha']}

In [157]:
j_pipe2.invoke("what is the famous food in maharastra give me five answers")

{'popular_food': 'Maharashtra is known for its diverse and delicious cuisine. Some of the famous foods in Maharashtra are:',
 'answers': ['1. Vada Pav: A popular street food made with a potato fritter sandwiched between a bun and served with chutney.',
  '2. Misal Pav: A spicy curry made with sprouted moth beans and served with pav (bread).',
  '3. Puran Poli: A sweet flatbread made with lentils, jaggery, and flour.',
  '4. Sabudana Khichdi: A dish made with soaked sago pearls, peanuts, and spices, often eaten during fasting.',
  '5. Pav Bhaji: A dish made with a spicy mix of vegetables, served with buttered pav (bread).']}

In [158]:
j_pipe2.invoke("what is the famous food in srilanka give me five answers")

{'popular_food': ['Hoppers',
  'Kottu Roti',
  'Sri Lankan Curry',
  'Lamprais',
  'String Hoppers'],
 'answers': 'Hoppers, Kottu Roti, Sri Lankan Curry, Lamprais, String Hoppers'}

In [159]:
j_pipe2.invoke("what is the famous food in dwaraka give me five answers")

{'popular_food': 'Dwaraka',
 'answers': ['1. Masala Dosa',
  '2. Idli Sambhar',
  '3. Pani Puri',
  '4. Pav Bhaji',
  '5. Dhokla']}

In [189]:
json_prompt3=PromptTemplate.from_template(template="Return a JSON object with popular acters in this movie and movie director name key that answers the following question:{question}")

In [190]:
j_pipe3 = json_prompt3|model|json_parser

In [191]:
j_pipe3.invoke("can you tell me about SitaRamam telugu movie director and  heroin  name in telugu")

{'Director Name': 'Teja',
 'Heroine Name': 'Kajal Aggarwal',
 'Popular Actors': ['Bellamkonda Sreenivas', 'Sonu Sood', 'Mannara Chopra']}

In [192]:
j_pipe3.invoke("can you tell me about Darling movie popular actors and director")

{'popular actors': ['Laia Costa', 'Mark Ryder', 'Sonia Almarcha'],
 'director': 'Javier Chavarria'}

In [175]:
j_pipe3.invoke("can you tell me Aabout sita ramam movie popular actors and director")

{'director': 'Teja',
 'actors': ['Kajal Aggarwal',
  'Bellamkonda Sreenivas',
  'Sonu Sood',
  'Mannara Chopra']}

In [195]:
sp=j_pipe1.invoke("where did M.K.Gandhi born provide me in json format")

In [196]:
type(sp)

dict

In [197]:
sp

{'famousplace': 'Porbandar', 'state name': 'Gujarat'}

In [200]:
from langchain.output_parsers import CommaSeparatedListOutputParser

In [201]:
output_parser = CommaSeparatedListOutputParser()

In [202]:
format_instructions = output_parser.get_format_instructions()

In [203]:
prompt = PromptTemplate(
template="List five {subject}.\n{format_instructions}",
input_variables=["subject"],
partial_variables={"format_instructions": format_instructions}
)

In [204]:
query = "Indian Premier League Teams"

In [205]:
output = model(prompt.format(subject=query))

C:\Users\padma\AppData\Local\Temp\ipykernel_18412\3743035748.py:1: LangChainDeprecationWarning: The method `BaseLLM.__call__` was deprecated in langchain-core 0.1.7 and will be removed in 1.0. Use :meth:`~invoke` instead.
  output = model(prompt.format(subject=query))

In [206]:
output

'\n\n1. Mumbai Indians\n2. Chennai Super Kings\n3. Kolkata Knight Riders\n4. Royal Challengers Bangalore\n5. Delhi Capitals'

In [207]:
parsed_result = output_parser.parse(output)

In [208]:
parsed_result

['1. Mumbai Indians',
 '2. Chennai Super Kings',
 '3. Kolkata Knight Riders',
 '4. Royal Challengers Bangalore',
 '5. Delhi Capitals']

In [209]:
query = "Top 5 populated cities in India"

In [210]:
output = model(prompt.format(subject=query))

In [211]:
output

'\n\n1. Mumbai, Delhi, Bangalore, Hyderabad, Ahmedabad'

In [212]:
parsed_result = output_parser.parse(output)

In [213]:
parsed_result

['1. Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Ahmedabad']

In [214]:
query = "Top 5 populated cities in world"

In [215]:
output = model(prompt.format(subject=query))

In [216]:
output

'\n\n1. Tokyo, Japan\n2. Delhi, India\n3. Shanghai, China\n4. Sao Paulo, Brazil\n5. Mexico City, Mexico'

In [217]:
parsed_result = output_parser.parse(output)

In [218]:
parsed_result

['1. Tokyo',
 'Japan',
 '2. Delhi',
 'India',
 '3. Shanghai',
 'China',
 '4. Sao Paulo',
 'Brazil',
 '5. Mexico City',
 'Mexico']

In [219]:
query = "Top 5 most tourisum places in india"

In [220]:
output = model(prompt.format(subject=query))

In [221]:
output

'\n1. Taj Mahal, Agra\n2. Goa beaches, Goa\n3. Golden Temple, Amritsar\n4. Jaipur, Rajasthan\n5. Kerala backwaters, Kerala'

In [222]:
parsed_result = output_parser.parse(output)

In [223]:
parsed_result

['1. Taj Mahal',
 'Agra',
 '2. Goa beaches',
 'Goa',
 '3. Golden Temple',
 'Amritsar',
 '4. Jaipur',
 'Rajasthan',
 '5. Kerala backwaters',
 'Kerala']

In [224]:
query = "Top 5 most tourisum places in world"

In [225]:
output = model(prompt.format(subject=query))

In [226]:
output

'\n1. Paris, France\n2. New York City, USA\n3. Rome, Italy\n4. London, UK\n5. Tokyo, Japan'

In [227]:
parsed_result = output_parser.parse(output)

In [228]:
parsed_result

['1. Paris',
 'France',
 '2. New York City',
 'USA',
 '3. Rome',
 'Italy',
 '4. London',
 'UK',
 '5. Tokyo',
 'Japan']

In [229]:
query="top most snowfall places in india"

In [230]:
output = model(prompt.format(subject=query))

In [231]:
output

'\n\n1) Gulmarg, Jammu and Kashmir\n2) Manali, Himachal Pradesh\n3) Auli, Uttarakhand\n4) Shimla, Himachal Pradesh\n5) Sonamarg, Jammu and Kashmir'

In [232]:
parsed_result = output_parser.parse(output)

In [233]:
parsed_result

['1) Gulmarg',
 'Jammu and Kashmir',
 '2) Manali',
 'Himachal Pradesh',
 '3) Auli',
 'Uttarakhand',
 '4) Shimla',
 'Himachal Pradesh',
 '5) Sonamarg',
 'Jammu and Kashmir']