# importing necessary libraries

In [206]:
import pandas as pd

# load dataset

In [207]:
df = pd.read_csv("C:\\Users\\padma\\Downloads\\IMDB Dataset.csv\\IMDB Dataset.csv",nrows=100)

In [208]:
df

                                               review sentiment
0   One of the other reviewers has mentioned that ...  positive
1   A wonderful little production. <br /><br />The...  positive
2   I thought this was a wonderful way to spend ti...  positive
3   Basically there's a family where a little boy ...  negative
4   Petter Mattei's "Love in the Time of Money" is...  positive
..                                                ...       ...
95  Daniel Day-Lewis is the most versatile actor a...  positive
96  My guess would be this was originally going to...  negative
97  Well, I like to watch bad horror B-Movies, cau...  negative
98  This IS the worst movie I have ever seen, as w...  negative
99  I have been a Mario fan for as long as I can r...  positive

[100 rows x 2 columns]

In [209]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [210]:
df.shape

(100, 2)

# converting the dataset into lower case

In [211]:
df['review'] = df['review'].str.lower()

In [212]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. <br /><br />the...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

# remove html tags

In [ ]:
import re  #Regular Expressions
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [214]:
df['review'] = df['review'].apply(remove_html_tags)

In [215]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. the filming tec...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

# remove urls

In [216]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www.\.\S+')
    return pattern.sub(r'', text)

In [217]:
df['review'] = df['review'].apply(remove_url)

In [218]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. the filming tec...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

# remove special symbols

In [219]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [220]:
exclude = string.punctuation

In [221]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [222]:
df['review'] = df['review'].apply(remove_punc1)

In [223]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production the filming tech...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically theres a family where a little boy j...  negative
4   petter matteis love in the time of money is a ...  positive
..                                                ...       ...
95  daniel daylewis is the most versatile actor al...  positive
96  my guess would be this was originally going to...  negative
97  well i like to watch bad horror bmovies cause ...  negative
98  this is the worst movie i have ever seen as we...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

# remove stopwords

In [224]:
from nltk.corpus import stopwords

In [225]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\padma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [226]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [227]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [228]:
df['review'] = df['review'].apply(remove_stopwords)

In [229]:
df

                                               review sentiment
0   one    reviewers  mentioned   watching  1 oz e...  positive
1    wonderful little production  filming techniqu...  positive
2    thought    wonderful way  spend time    hot s...  positive
3   basically theres  family   little boy jake thi...  negative
4   petter matteis love   time  money   visually s...  positive
..                                                ...       ...
95  daniel daylewis    versatile actor alive engli...  positive
96   guess would    originally going    least two ...  negative
97  well  like  watch bad horror bmovies cause  th...  negative
98     worst movie   ever seen  well   worst    pr...  negative
99      mario fan   long    remember    fond memor...  positive

[100 rows x 2 columns]

# remove emojies

In [230]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                               "u\U0001F600-\U0001F64F"  # Emotions
                               "u\U0001F300-\U0001F5FF"  # Symbols & pictographs
                               "u\U0001F680-\U0001F6FF"  # Transport & map symbols
                               "u\U0001F1E0-\U0001F1FF"  # Flags(iOS)
                               "u\U00002702-\U000027B0"
                               "u\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [231]:
remove_emoji("Loved the movie, it was 👍")

'Loved the movie, it was '

In [232]:
!pip install emoji

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: emoji in c:\users\padma\appdata\roaming\python\python39\site-packages (2.14.0)

In [233]:
import emoji
print(emoji.demojize('Python is 🔥'))

Python is :fire:

In [234]:
a = 'I am going to delhi'
a.split()

['I', 'am', 'going', 'to', 'delhi']

In [235]:
# Sentence Tokenization
b = 'Iam going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great'
b.split('.')

['Iam going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [236]:
c = 'I am going to delhi'
c.split()

['I', 'am', 'going', 'to', 'delhi']

In [237]:
d = 'Where do think I should go? I have 3 day holiday'
d.split('.')

['Where do think I should go? I have 3 day holiday']

In [238]:
import re

e = 'I am going to delhi'
tokens = re.findall("[\w']+", e)
tokens

['I', 'am', 'going', 'to', 'delhi']

In [239]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[.!?] ').split(text)
sentences

["Lorem Ipsum is simply dummy text of the printing and typesetting industry?\nLorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [240]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [241]:
sent1 = 'I am goind to visit delhi!'
word_tokenize(sent1)

['I', 'am', 'goind', 'to', 'visit', 'delhi', '!']

In [242]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""

sent_tokenize(text)

['Lorem Ipsum is simply dummy text of the printing and typesetting industry?',
 "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [243]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're  here to help! mail us at gks@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [244]:
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

In [245]:
word_tokenize(sent6)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'gks',
 '@',
 'gmail.com']

In [246]:
word_tokenize(sent7)

['A', '5km', 'ride', 'cost', '$', '10.50']

In [247]:
!pip install spacy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: spacy in c:\users\padma\appdata\roaming\python\python39\site-packages (3.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (24.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (1.0.5)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (1.1.3)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.11.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (3.0.12)
Requirement already satisfied: thinc<8.4.0,>=8.3.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (8.3.2)
Requirement already satisfied: numpy>=1.19.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (2.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (2.0.10)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (4.67.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (1.0.11)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (2.32.3)
Requirement already satisfied: typer<1.0.0,>=0.3.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (0.13.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (2.9.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (3.0.9)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (3.5.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (2.0.10)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from spacy) (63.4.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (2.4.8)
Requirement already satisfied: weasel<0.5.0,>=0.1.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from spacy) (0.4.1)
Requirement already satisfied: language-data>=1.2 in c:\users\padma\appdata\roaming\python\python39\site-packages (from langcodes<4.0.0,>=3.2.0->spacy) (1.3.0)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\padma\appdata\roaming\python\python39\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.12.2)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in c:\users\padma\appdata\roaming\python\python39\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.23.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.14)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.11)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\padma\appdata\roaming\python\python39\site-packages (from thinc<8.4.0,>=8.3.0->spacy) (0.1.5)
Requirement already satisfied: blis<1.1.0,>=1.0.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from thinc<8.4.0,>=8.3.0->spacy) (1.0.1)
Requirement already satisfied: colorama in c:\users\padma\appdata\roaming\python\python39\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Requirement already satisfied: click>=8.0.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from typer<1.0.0,>=0.3.0->spacy) (8.1.7)
Requirement already satisfied: rich>=10.11.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from typer<1.0.0,>=0.3.0->spacy) (13.9.4)
Requirement already satisfied: shellingham>=1.3.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from typer<1.0.0,>=0.3.0->spacy) (1.5.4)
Requirement already satisfied: smart-open<8.0.0,>=5.2.1 in c:\programdata\anaconda3\lib\site-packages (from weasel<0.5.0,>=0.1.0->spacy) (5.2.1)
Requirement already satisfied: cloudpathlib<1.0.0,>=0.7.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from weasel<0.5.0,>=0.1.0->spacy) (0.20.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2->spacy) (2.0.1)
Requirement already satisfied: marisa-trie>=1.1.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy) (1.2.1)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy) (2.18.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy) (3.0.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\padma\appdata\roaming\python\python39\site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy) (0.1.2)

In [248]:
!pip install blis

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: blis in c:\users\padma\appdata\roaming\python\python39\site-packages (1.0.1)
Requirement already satisfied: numpy<3.0.0,>=2.0.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from blis) (2.0.2)

In [249]:
pip install blis --upgrade

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: blis in c:\users\padma\appdata\roaming\python\python39\site-packages (1.0.1)
Requirement already satisfied: numpy<3.0.0,>=2.0.0 in c:\users\padma\appdata\roaming\python\python39\site-packages (from blis) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

# stemming

In [250]:
from nltk.stem.porter import PorterStemmer

In [251]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [252]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [253]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years.

In [254]:
stem_words(text)

'probabl my all time favourit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen some 15 or more time in the last 25 years.'

In [255]:
from nltk.stem.lancaster import LancasterStemmer

In [256]:
ls = LancasterStemmer()
def stem_words(text):
    return " ".join([ls.stem(word) for word in text.split()])

In [257]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [258]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years.

In [259]:
stem_words(text)

'prob my al tim favourit movy a story of selfless sacr and ded to a nobl caus but it not preachy or bor it just nev get old despit my hav seen som 15 or mor tim in the last 25 years.'

In [260]:
from nltk.stem import SnowballStemmer

In [261]:
sb = SnowballStemmer("english")
def stem_words(text):
    return " ".join([sb.stem(word) for word in text.split()])

In [262]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [263]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years.

In [264]:
stem_words(text)

'probabl my all time favourit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen some 15 or more time in the last 25 years.'

# lemmatizer

In [265]:
import nltk
from nltk.stem import WordNetLemmatizer

In [266]:
# Download the WordNet corpus
nltk.download('wordnet')

# You might also need to download the 'omw-1.4' package for wordnet
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\padma\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\padma\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [267]:
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He aws running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations = "?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)
    
sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos='v')))

Word                Lemma
He                  He
aws                 aws
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun